<meta http-equiv="content-type" content="text/html, charset=utf-8">
<html>
<head>
    <meta charset="utf-8">
    <title>SQL INJECTION VUL</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        pre {
            height: auto;
            max-height: 200px;
            max-width: 600px;
            background-color: #eeeeee;
            word-break: normal !important;
            word-wrap: normal !important;
            white-space: pre-wrap !important;
        }
    </style>
</head>

<h1 align="center"><span class="label label-success">SQL INJECTION VUL</span></h1>

<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>发现时间</th>
        <th>域名</th>
        <th>DBMS</th>
        <th>request</th>
        <th>response</th>
    </tr>
    </thead>
    {% block table_body %}

    {% endblock %}
</table>

</body>
</html>

